QPushButton
{
    border-image:url(:/images/reset.png);
    font-family:Microsoft Yahei;
    border-radius:5px;

}

QPushButton:hover
{
    background-color:rgb(220 , 220 , 220);
}

QPushButton:pressed
{
    background-color:rgb(200 , 200 , 200);
    padding-left:3px;
    padding-top:3px;
}